<div class='card'>
   	<div class='face front' style='height: 183px;'>
		<div class='plp-cart-btn flip-active'></div>
			<a class='article-link' href='http://m.target.com/p/c9-by-champion-men-s-active-tee-assorted-colors/-/A-14113514'>
				<article class='group'>
					<img width='140' height='140' src=<%-fullImage%> class='product'>
					<p class='price each'>Price</p>
					<p class='price-availability'><small>Online Price</small></p>
					<h4><%-title%></h4>
					<div class='price-availability'>
						<p class='storestatus'><small>to be announced</small></p>
					</div>
						<p class='ratings-reviews group'>
							<span class='stars-base'></span>
							<span class='stars-base icon-rating icon-stars-3-0'></span>
							<span class='review-num'></span>
						</p>
					<div class='single-promo'>
						<small class='promo-message'>
						"Spend $50, get free shipping
						</small>
					</div>						
				</article>
			</a>
		</div>
	<div class='face back'>
			<div class='add-heading'>
				<p>add to cart</p>
			</div>
			<div class='close flip-active'></div>
			<div class='variation-item'>
				<div class='input-group'>
					<label>color: 
						<span class='colorValHolder'>Please make a selection</span>
					</label>
					<div class='input-step input-step-attr-select'>
						<select id='colors' class='colors swatchesList j_PLPVariations webkit-list' name='swatchColor'>
							<option selected='selected' value=''>select color</option>
							<option catid='204938139' value='Astor Blue'>Astor Blue</option>
						</select>
					</div>
					<div class='qty-sizewrapper'>
						<div class='size'>
							<label class='' for='selectSize_size_204938139'>size:</label>
							<select id='selectSize_size_204938139' class='size j_PLPVariations webkit-list' name='size'>
								<option selected='selected' value=''>select size</option>
								<option catid='204938139' value='Large'>Large</option>
							</select>
						</div>
					</div>
					<div class='button large-button important-button disable-button'>
						<div class='button-bg'>
							<div class='button-shadow'>
								<a href='javascript:void(0);' class='addcarthook' rel='nofollow'>add to cart</a>
							</div>
						</div>
					</div>
				</div>
			<div class='availability unavailableCh0' style='display: none;'><p><strong>out of stock online</strong></p></div></div> 
		</div> 
	</div>