<form id="plp_result_form">
<input type="hidden" name="Sort" value="pmrank">
<!-- IOS 6 Solution --><!-- IOS 6 Solution -->

		<span class="toggleInputs">
			
			</span>
			<div id="searchbar_wrapper">
				<div id="sortFilterMenu">
					<ul>
						<li class="facet-label">sold:</li>
						<li id="onlineFilter" data-attrnum="5zktx" class="online check">
							<a href="javascript:void(0);" title="show sort items"><span class="checkbox"></span> online</a>
						</li>
						<li id="indstoreFilter" data-attrnum="5zkty" class="instore check">
							<a href="javascript:void(0);" title="show in store items"><span class="checkbox"></span> in store</a>				
						</li>
						
						<li class="filter-menu"><a href="javascript:void(0);" title="show sort options" id="filter_show_button" class="active">filter <span class="small">(2)</span></a></li>
						
						<li class="sort-menu" id="sort_show_button"><a href="javascript:void(0);" title="show sort options">sort</a></li>
						
					</ul>
				</div>
				
				<div id="sortFilterPanels">
				
					<section class="sort-panel">
						<div class="sort-panel-nav">
						
							<div class="row group">
								<div class="span4">
									<a class="btn current" rel="nofollow" href="http://m.target.com/c/-/N-5zja2Z5ewimZ56fu8/Ntk-All/Ntt-shoes/Ntx-matchallpartial?searchTerm=shoes&amp;Sort=pmrank">
										newest
									</a>
								</div>
								<div class="span4">
									<a class="btn" rel="nofollow" href="http://m.target.com/c/-/N-5zja2Z5ewimZ56fu8/Ntk-All/Ntt-shoes/Ntx-matchallpartial?searchTerm=shoes&amp;Sort=salesrank">
										best seller
									</a>
								</div>
								<div class="span4">
									<a class="btn" rel="nofollow" href="http://m.target.com/c/-/N-5zja2Z5ewimZ56fu8/Ntk-All/Ntt-shoes/Ntx-matchallpartial?searchTerm=shoes&amp;Sort=price">
										price
											<div style="float: right;"></div>
										
									</a>
								</div>
							</div>
							
						</div>
					</section>
					<section class="filter-panel">
						<div class="filter-panel-nav">
							
							<div class="row group">
								<div class="span4">
									<a class="btn filter-panel-clear" href="http://m.target.com/s?Sort=pmrank&amp;clearall=true&amp;searchTerm=shoes">clear all</a>
								</div>
								<div class="span4">
									<a href="#" class="btn filter-panel-cancel">cancel</a>
								</div>
								<div class="span4">
									
									<a href="javascript:void(0);"  id="apply_btn" class="btn filter-panel-cancel">apply</a>
									<!--<input id="apply_btn" class="btn filter-panel-apply"  > -->
								</div>
							</div>
							
						</div>
						<div class="filter-accordian" id="accordian">



							<ul id="search_wrapper">

		

						   </ul>
						
						</div>

					</section>
				</div>                                  
			</div>									
			
			<div class="product-list">
	      <header>	
				
						<hgroup class="pagination-header">
                       		
                               		<h2>Results for <b>shoes </b>
                               		 <input type="hidden" value="shoes" id="searchQuery">  <!-- To retain search Term -->
                               		</h2>
                            
                            <div>
        				
                                <h3>Showing <b>1-2</b> of <b>2</b> results</h3>                       
                               
                           </div></hgroup>

						  
	 		</header> 	
 
    </div>
    		
        <small class="disclaimer"> Prices, promotions, styles and availability<br> may vary by store and online.</small>
		
</form>