
        <li class="menu-home main-menu item closed">
            <span class="icon-icon_home" aria-hidden="true"></span>
            <a href="/" id="home-nav-link" title="target home"><p>Home</p></a>
        </li>
        <li class="main-menu item closed" id="all-products" prevent="false" >
            <span aria-hidden="true" class="icon-icon_browse"></span>
            <div class="more-carrot icon-icon_arrow_right" aria-hidden="true"></div>
            <div class="loading icon-icon_loading" aria-hidden="true"></div>
            <a href="javascript:void(0);" >
                <p>Products</p>
            </a>
        </li>
        <li class="main-menu item closed" id="">
            <span class="icon-icon_weekly_ad" aria-hidden="true"></span>
            <div class="more-carrot icon-icon_arrow_right" aria-hidden="true"></div>
            <a href="javascript:void(0);">
            <p>Weekly Ad</p></a>
        </li>
        <li class="main-menu parent closed" id="deals">
            <span class="icon-icon_deals" aria-hidden="true"></span>
            <a href="javascript:void(0);" title="show content"><p>Deals &amp; Coupons</p></a>
            <ul class="expand" aria-hidden="true">
                <li class="main-menu item"><a href="javascript:void(0);"><p>daily deals</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>mobile coupons</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>clearance</p></a></li>
            </ul>
        </li>
        <li class="main-menu parent closed" id="">
            <span class="icon-icon_stores" aria-hidden="true"></span>
            <a href="javascript:void(0);" title="show content"><p>Stores</p></a>
            <ul class="expand" aria-hidden="true">
                <li class="main-menu item"><a href="javascript:void(0);"><p>store locator</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>my store</p></a></li>
            </ul>
        </li>
        <li class="main-menu parent closed" id="">
            <span class="icon-icon_lists" aria-hidden="true"></span>
            <a href="javascript:void(0);" title="show content"><p>Target Lists</p></a>
            <ul class="expand" aria-hidden="true">
                <li class="main-menu item"><a href="javascript:void(0);"><p>create a list</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>find a list</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>my lists</p></a></li>
            </ul>
        </li>

        <li class="main-menu parent closed" id="">
            <span class="icon-icon_registries" aria-hidden="true"></span>
            <a href="javascript:void(0);" title="show content"><p>Registries</p></a>
            <ul class="expand" aria-hidden="true">
                <li class="main-menu item"><a href="javascript:void(0);"><p>find a registry</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>target baby</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>target wedding</p></a></li>
            </ul>
        </li>
        <li class="main-menu parent closed" id="">
            <span class="icon-icon_gift_cards" aria-hidden="true"></span>
            <a href="javascript:void(0);" title="show content"><p>Gift Cards</p></a>
            <ul class="expand" aria-hidden="true">
                <li class="main-menu item"><a href="javascript:void(0);"><p>my giftcards</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>check giftcard balance</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>shop target giftcards</p></a></li>
            </ul>
        </li>
        <li class="main-menu parent closed" id="">
            <span class="icon-icon_my_accounts" aria-hidden="true"></span>
            <a href="javascript:void(0);" title="show content"><p>My Account</p></a>
            <ul class="expand" aria-hidden="true">
                <li class="main-menu item"><a href="javascript:void(0);"><p>my store</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>manage my account</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>my redcard</p></a></li>
            </ul>
        </li>
        <li class="main-menu item closed" id="">
            <span class="icon-icon_pharmacy" aria-hidden="true"></span>
            <a href="javascript:void(0);"><p>Pharmacy</p></a>
        </li>
        <li class="main-menu parent closed" id="">
            <span class="icon-icon_help" aria-hidden="true"></span>
            <a href="javascript:void(0);" title="show content"><p>Help &amp; Contact Us</p></a> 
            <ul class="expand" aria-hidden="true">
                <li class="main-menu item"><a href="javascript:void(0);"><p>help</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>contact us</p></a></li>
                <li class="main-menu item"><a href="javascript:void(0);"><p>feedback</p></a></li> 
            </ul>
        </li> 
 