
    <form method="get" action="/s" role="search" id="search-form" name="search_form">
        <!--<input name="category" value="0|All|matchallpartial|all categories" type="hidden" />-->
        <div class="input-wrap">
            <input type="search" placeholder="search target.com" name="keywords" class="search-input" id="searchTerm" required >
            <div id="clear-search-icon" class="icon-icon_clear_search" aria-hidden="true"></div>
            <input type="submit" alt="Search" placeholder="search" class="submit" id="search-submit" value="">
            <span class="icon-icon_search" aria-hidden="true"></span> 
        </div>
        <div class="cancel-search" aria-hidden="true">cancel</div>
    </form>
    <div id="typeahead-contain"><ul></ul></div> 
