        <footer id="footer-nav" role="contentinfo">
            <div class="copywright">&copy;  2013 Target Stores all rights reserved.</div>
            <div class="footer-layer">
                <ul>
                    <li><a rel="nofollow" href="http://www.target.com/?force-full-site=1">Full Site</a></li>
                    <li><a href="/spot/specialty-pages">Specialty Pages</a></li>
                    <li><a href="/store-locator/state-list">Stores</a></li>
                    <li><a href="https://corporate.target.com/careers/" target="blank">Careers</a></li>
                </ul>
            </div>
            <div class="footer-layer">
                <ul>
                    <li><a rel="nofollow" href="/spot/terms/main">Terms</a></li>
                    <li><a rel="nofollow" href="/spot/terms/privacy-policy">privacy policy</a></li>
                    <li><a rel="nofollow" class="lowerNavAlign" href="/spot/terms/privacy-policy#CaliforniaResidents">california privacy rights</a></li>
                </ul>
            </div>
        </footer>



