<header id="navigationview" class="app-header">
       
    <a id="activate" class="nav-trigger" title="show navigation menu"  href="javascript:void(0);">
        <span class="icon-icon_hamburger" aria-hidden="true"></span>
    </a>
    <div class="accessibility">
        <a href="/" title="target home">
            <span class="icon-icon_target" aria-hidden="true"></span>

            <span class="icon icon-lest"></span>

        </a>
        <span class="cart">
            <ul>
                <li id="mini-cart-wrapper"  class="cart-link">
                    <a id="mini-cart-icon" rel="nofollow" href="/mwcheckout_process?redirectUrl=mwcheckout_cartview&updatePrices=1&calculationUsageId=-1&channel=mobile&lnk=nav_checkout_cart">
                        <span class="screen-reader-only">cart</span>
                        <div class="cart-items"></div>
                        <span class="screen-reader-only">items.</span>      
                    </a>
                </li>
            </ul>
        </span>
        <a href="javascript:void(0);" title="show target search bar" id="searchButton" class="search-trigger"><span class="icon-icon_search static " aria-hidden="true" ></span></a>
        <div id="nav-search"><span class="icon-icon_search search-trigger" aria-hidden="true"></span></div>
    </div>
   <div class="search-wrap" aria-hidden="true"></div>
</header>

<nav id="nav" class="side-nav" role="navigation" aria-hidden="true">
   <!-- insert the menu view here-->    

</nav>




